body, html{
    margin:0;
}
h1{
    height:60px;
    line-height:60px;
    margin: 0;
}
#frame{
    width: 100vw;
    height: calc(100vh - 60px);
}
#tabBar{
    width: 100%;
    height: 30px;
    background: aqua;
    overflow: hidden;
}
#tabBar ul{
    margin:0;
    padding:0;
}
#tabBar ul li{
    width:120px;
    text-decoration: none;
    display: block;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid grey;
    margin:0;
    float: left;
}
#logPanel{
    width:100%;
    height: calc(100% - 180px);
    background-color: dodgerblue;
}
#typeBox{
    height:150px;
    width: 100%;
    background:hotpink;
}
#userList{
    width: 180px;
    background-color: silver;
    height: 100%;
    float: right;
}
#userList ul{
    margin:0;
    padding:0;
}
#userList ul li{
    width:100%;
    text-decoration: none;
    display: block;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid grey;
    margin:0;
    box-sizing: border-box;
}
#chatPanel {
    background-color:green;
    float:left;
    height: 100%;
    width: calc(100% - 180px);
}
#typedText {
    width: calc(100% - 110px);
    height: 130px;
    padding: 0;
    margin: 10px 0 0 10px;
    border:none;
}
#sendButton {
    width: 80px;
    height: 130px;
    padding: 0;
    margin: 10px 10px;
    display: block;
    float: right;
    background: red;
}
.message{
    background: lightgray;
}
.message:nth-child(odd){
    background: yellow;
}